.text__shadow{
    text-shadow:  0px 0px 15px green;
}

.text__home{
    text-shadow: 0px 0px 15px green;
}
.text__about{
    text-shadow: 0px 0px 15px red;
}
.text__projects{
    text-shadow: 0px 0px 15px yellow;
}
.text__contact{
    text-shadow: 0px 0px 15px blue;
}
    



.text__home:hover{
    font-size: 37px;
    transition: 1s;
}
.text__about:hover{
    font-size: 37px;
    transition: 1s;
}
.text__projects:hover{
    font-size: 37px;
    transition: 1s;
}
.text__contact:hover{
    font-size: 37px;
    transition: 1s;
}




.text__home__span{
    text-shadow: 0px 0px 30px green;
}
.text__about__span{
    text-shadow: 0px 0px 30px red;
}
.text__projects__span{
    text-shadow: 0px 0px 30px yellow;
}
.text__contact__span{
    text-shadow: 0px 0px 30px blue;
}


.animation{
    animation: 1s change linear 1 ;
}
.animation:hover{
    color: rgb(117, 47, 47);
    font-size: 42px;
}

@keyframes change {
	0% {
		margin-top: -100px;
    }
    20%{
        margin-top: 20px;
    }
    40%{
        margin-top: 0px;
    }
    60%{
        margin-top: 20px

    }
    80%{
        margin-top: 10px;
    }
	100% {
		margin-top: 20px;
	}
}
    

.animation__section{
    animation: .4s section linear 1 ;
}

@keyframes section {
	0% {
		margin-left: -200px;
    }
    /* 20%{
        margin-top: 20px;
    }
    40%{
        margin-top: 0px;
    }
    60%{
        margin-top: 20px

    }
    80%{
        margin-top: 10px;
    } */
	100% {
		margin-left: 0px;
	}
}
